[class^="flex"]{
      display:block;
      position: relative;
      width: 90%;
      margin: 0 auto;
      box-sizing: border-box;
      overflow: hidden;
    
   }
[class^="c_"] { 
        text-align: center;
        color: white;
        width: 100%;
        float: left;
        box-sizing:border-box;
        padding:4px;
        margin:3px 0;
        border:1px solid rgb(73, 71, 223);
   }
   .auto{
    width: 90%;
    margin: 1% auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
  }

  .auto>div>*{
    margin: 1% auto;
    width: 100%;
    /* border: 1px solid whitesmoke; */
    text-align: center;
    padding: 1% 0;
  }

 
@media (min-width: 560px) {
        .flex-jcsa{
            display: flex;
            justify-content: space-around;
          }
        .flex-jcsb{
            display: flex;
            justify-content: space-between;
        }
        .flex-jcse{
            display: flex;
            justify-content: space-evenly;
        }
        .c_1s{width: 8.333333333333334%;}
        .c_2s{width: 16.666666666666668%;}
        .c_3s{width: 33.333333333333336%;}
        .c_4s{width: 25%;}
        .c_5s{width: 41.66666666666667%}
        .c_6s{width: 50%;}
        .c_7s{width: 58.333333333333336%}
        .c_8s{width: 66.66666666666667%}
        .c_9s{width: 75%}
        .c_10s{width: 83.33333333333334%}
        .c_11s{width: 91.66666666666667%}
        .c_12s{width: 100%;}

        .auto{
            flex-direction: row;
        }
    }

    .column{
        flex-direction: column;
     }