

.masonry {
    margin: 1.5em auto;
    width: 90%;
    gap: 3em;
}



/*----------masonry-7-------------*/

@media only screen and (min-width: 1021px) {
    .masonry-7 {
        column-count: 7;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 768px) {
    .masonry-7 {
        column-count: 5;
    }
}

@media only screen and (max-width: 767px) and (min-width: 573px) {
    .masonry-7 {
        column-count: 3;
    }
}

@media only screen and (max-width: 572px) and (min-width: 415px) {
    .masonry-7 {
        column-count: 2;
    }
}


/*---------------masonry-6-----------*/

@media only screen and (min-width: 1021px) {
    .masonry-6 {
        column-count: 6;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 768px) {
    .masonry-6 {
        column-count: 4;
    }
}

@media only screen and (max-width: 767px) and (min-width: 573px) {
    .masonry-6 {
        column-count: 3;
    }
}

@media only screen and (max-width: 572px) and (min-width: 415px) {
    .masonry-6 {
        column-count: 2;
    }
}


/*------------masonry-5------------*/

@media only screen and (min-width: 1021px) {
    .masonry-5 {
        column-count: 5;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 768px) {
    .masonry-5 {
        column-count: 4;
    }
}

@media only screen and (max-width: 767px) and (min-width: 573px) {
    .masonry-5 {
        column-count: 3;
    }
}

@media only screen and (max-width: 572px) and (min-width: 415px) {
    .masonry-5 {
        column-count: 2;
    }
}


/*--------masonry-4   */

@media only screen and (min-width: 1021px) {
    .masonry-4 {
        column-count: 4;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 768px) {
    .masonry-4 {
        column-count: 3;
    }
}

@media only screen and (max-width: 767px) and (min-width: 573px) {
    .masonry-4 {
        column-count: 2;
    }
}


/*---------------------------masonry-3----------*/

@media only screen and (min-width: 1021px) {
    .masonry-3 {
        column-count: 3;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 573px) {
    .masonry-3 {
        column-count: 2;
    }
}


/*-------------masonry-2----------*/

@media only screen and (min-width: 573px) {
    .masonry-2 {
        column-count: 2;
    }
}