table {
   width: 90%;
   background: #ccc;
    margin: 0 5%;
}
tr:nth-child(even) {
    background: rgb(183, 183, 197);
}
tr{
   display: flex;
}
tr:hover{
   background-color:rgb(200, 206, 147);
    cursor: pointer;
}
table tr th,
table tr td {
    width: 100%;
    text-align: center;
    font-size: 0.875em;
    color: #222222;
    border: 1px solid #dddddd;
}

@media only screen and (max-width: 768px) {
    table * {
        display: block;
    }
    tbody tr th{
        display: none;
    }
    .table td {
       display: flex;
       border: 1px solid #ddd;
    }
    
    .table td:before {
        width: 60%;
       font-weight: bold;
    }
    /*-----reemplazaremos el contenido de los <th>----*/
    td:nth-of-type(1):before {
        content: "First Name";
    }
    td:nth-of-type(2):before {
        content: "Last Name";
    }
    td:nth-of-type(3):before {
        content: "Age";
    }
   /* td:nth-of-type(4):before {
        content: "Edit";
    }
    td:nth-of-type(5):before {
        content: "Delete";
    }
      td:nth-of-type(6):before {
        content: "Precio";
    } */
}

/* 
 @media screen and (max-width: 700px) {
    table {
        display: block;
        overflow-x: auto;
    }} */





